@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,400;0,600;0,800;1,300&display=swap');

:root {
    --login-bg:#f1f1f1ee;
    --title-bg: #af5f4b;
    --button-bg: #af5f4b;
    --light-pink: #ee680edc;
    --image-bg:  #b8b5b5 ;
}

body {
    margin-top: 10px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

.login-container {
    border: 2px solid #ccc;
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.7s ease-in-out;
    transform: translateY(-40px);

}

.login-info-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    margin-bottom: 15px;
    width: 12.5rem;
    height: 3.75rem;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(148, 145, 145);
    background: white;
}

.social-login-element-google{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 20px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.social-login-element img {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0;
    left: -0.925rem;
}

.social-login-element:hover {
    background-color: #af5f4b;
    color: white;
}


.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
    color: black;
    flex-direction: column;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    background: #fff;
    color: black;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--button-bg);
    cursor: pointer;
}
.btn:hover {
    background: #f03000;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}
.bandera img{
    margin-bottom: 5px;
    width: 30px;
}

.navContainer {
    margin-bottom: 10px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    background-color: #ffcc00;
    padding: 10px;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    position: fixed; /* Hacemos el nav fijo en la pantalla */
    top: 0; /* Lo colocamos en la parte superior */
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    z-index: 1000; /* Aseguramos que esté por encima de otros elementos en la página */
}

.iconHouse {
    margin-top: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.navOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para alinear elementos en línea */
}

.navOptions li {
    margin-right: 10px;
    text-align: center;
}

.navOptions a {
    text-decoration: none;
    color: rgb(56, 54, 54);
    font-weight: bold;
    font-size: 15px;
}

.navOptions a:hover {
    color: #fff;
}

.nav-responsive {
    margin-top: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}
.containerText{
    margin-top: 60px;
    text-align: center;
}
.containerText h1{
    margin-left: 15%;
    text-align: center;
    margin-top: -550px;
}

/*Carrusel*/
.slider {
    width: 50vw;
    height: auto;
    margin:auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 150px;
}

.slider .slide img {
    width: 100%;
    height: 60%;
}

/*Estilos targetas de menu*/
.menu-container{
    margin-left: 28%;
}
.menu-card {
    width: 80%;
    display: flex;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid #ddd;
  }
  .menu-card :hover{
    transform: scale(1.005);
    background-color: #f0eded;
  }

  .menu-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
    border-radius: 15px;
  }

  .menu-details {
    text-align: left;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;
  }

  h2 {
    margin-top: 0;
  }

  p {
    margin: 10px 0;
  }

  .price {
    font-weight: bold;
    color: #27ae60;
  }

/*Filtro*/
.filtro {
    background-color: rgb(240, 238, 237);
    padding: 20px;
    border-radius: 5px;
    margin: 58px 5px;
    max-width: 300px;
    border: #f8bb12 2px solid;
    color: black;
  }

  .filtro img{
    padding: 8px;
    margin-left: 15px;
    width: 250px;
    border-radius: 30px;
  }
  .filtro h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .filtro input {
    margin-left: 10px;
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background-color: #bbbaba;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .filtro input::placeholder {
    color: #aaa;
  }
  .filtro input:hover{
    background-color: #f8bb12;
  }
/*Modal de compra y agregar al carrito*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 13px;
  }

  .modal-content img {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
  }

  button.cancel {
    background-color: #f8bb12;
  }

  button.add-to-cart {
    background-color: #27ae60;
  }
  
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

/*Responsive*/
@media screen and (max-width: 1000px) {
    .login-container {
        min-width: 110%;
        margin-top: 3rem;
        margin-left: -15px;
    }
    .login-info-container {
        min-width: 100%;
        min-height: 100%;
        border-radius: 5px;
    }
    .login-info-container p {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .image-container {
        display: none;
    }

  /* Nav */
  nav {
    display: none;
}

.nav-responsive {
    margin-left: auto;
    color: black;
    display: block;
}

nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #b6b1af;
    width: 190px;
    height: 200px;
    margin-right: 1px;
    border-radius: 4px;
    margin-top: 2px;
}

nav.responsive ul {
    display: block !important;
}

nav.responsive ul li {
    border-bottom: 3px solid #fff;
}

.containerText h1 {
    font-size: 15px;
}

    .imagenCarta img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    /*Responsive targetas*/
    .menu-details {
        text-align: justify;
        padding: 10px;
        flex: 1;
      }
    
      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    
      p {
        font-size: 13px;
        margin: 10px 0;
      }
      /*Responsive modal*/
      .modal {
        margin-top: 40px;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
      }
      
      .modal-content {
        background-color: #fff;
        padding: 20px;
        width: 80%;
        height: 80%;
        overflow: auto;
        position: relative;
      }
      
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
      .modal-content img {
        max-width: 50%;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 10);
      }

      .modal-buttons {
        margin-top: 5px;
        display: flex;
        flex-direction: column; 
        align-items: center;
      }
      button{
        margin-bottom: 10px;
        padding: 10px 10px;
        font-size: 15px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        color: #fff;
      }
      input{
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: 1px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
      .containerText h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        margin-left: 25px;
        text-align: center;
        margin-top: -55px;
      }
      /*Responsive targetas*/
      .menu-container{
        margin-left: 0%;
    }
      .menu-card {
        width: 90%;
        display: flex;
        margin: 20px;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border: 2px solid #ddd;
      }
      /*Filtro*/
      .filtro-container{
        overflow-x: auto;
      }
      .filtro{
        margin-bottom: 10px;
        border: none;
        background-color: #fff;
        padding: 10px;
        justify-content: space-between; /* Alinea los elementos a los extremos */
        display: flex; /* Muestra los elementos en forma de fila */
        width: 500%; /* Ocupa el 100% del ancho de la pantalla */
        z-index: 1000;
      }
      .filtro img{
        display: none;
      }
      .filtro h1{
        display: none;
      }
      .filtro input{
        text-align: center;
        font-size: 13px;
        color: white;
        margin-right: 10px;
        width: 160px;
        height: 30px;
        list-style-type: none;
      }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin-top: 10px;
        margin: 0;
    }
}








