@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100;0,400;0,600;0,800;1,300&display=swap');

:root {
    --login-bg:#f1f1f1ee;
    --title-bg: #af5f4b;
    --button-bg: #af5f4b;
    --light-pink: #ee680edc;
    --image-bg:  #b8b5b5 ;
}

body {
    margin-top: 10px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

.login-container {
    border: 2px solid #ccc;
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.7s ease-in-out;
    transform: translateY(-40px);

}

.login-info-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
}

.image-container {
    padding: 2rem;
    width: 50%;
    background-color: var(--image-bg);
    box-sizing: border-box;
}

.title {
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    margin-bottom: 15px;
    width: 12.5rem;
    height: 3.75rem;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(148, 145, 145);
    background: white;
}

.social-login-element-google{
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 20px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.social-login-element img {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0;
    left: -0.925rem;
}

.social-login-element:hover {
    background-color: #af5f4b;
    color: white;
}


.login-info-container > p {
    font-size: 1.25em;
    margin-top: 1.5em;
    color: black;
    flex-direction: column;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.input, .btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    background: #fff;
    color: black;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: var(--button-bg);
    cursor: pointer;
}
.btn:hover {
    background: #f03000;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}
.bandera img{
    margin-bottom: 5px;
    width: 30px;
}

/* estilos de Pagina Restaurante.css */
.navContainer {
    margin-bottom: 10px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    justify-content: space-between; /* Alinea los elementos a los extremos */
}

.iconHouse {
    margin-top: 10px;
    background-color: #cec9c9;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.navOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliza flexbox para alinear elementos en línea */
}

.navOptions li {
    margin-right: 10px;
    text-align: center;
}

.navOptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.navOptions a:hover {
    color: #ffcc00;
}

.nav-responsive {
    margin-top: 10px;
    background-color: #cec9c9;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.imagenCarta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.imagenCarta img{
    width: 50%;
    height: 80%;
    border-radius: 20px;
}
.containerText{
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .login-container {
        min-width: 110%;
        margin-top: 3rem;
        margin-left: -15px;
    }
    .login-info-container {
        min-width: 100%;
        min-height: 100%;
        border-radius: 5px;
    }
    .login-info-container p {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .image-container {
        display: none;
    }

    /* Nav */
    nav {
        display: none;
    }

    .nav-responsive {
        margin-left: auto;
        color: black;
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #b6b1af;
        width: 190px;
        height: 200px;
        margin-right: 1px;
        border-radius: 4px;
        margin-top: 2px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 3px solid #fff;
    }

    .containerText h1 {
        font-size: 15px;
    }

    .imagenCarta img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin-top: 10px;
        margin: 0;
    }
}








