<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="function.js"></script>
    <link rel="stylesheet" href="/src/styles/stylesES.css">
    
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-info-container" data-lang="en">
              <div class="bandera">
                  <a href="index.html"><img src="/img/estados-unidos.png" alt=""></a>  
              </div>
            <h1 class="title" style="font-size:25px;">Iniciar sesión con</h1>

            <div class="social-login">
                <div class="social-login-element">
                    <img src="/img/google.svg" alt="google-image">
                    <span>Google</span>
                </div>
                <div class="social-login-element">
                    <img src="/img/facebook.svg" alt="facebook-image">
                    <span>Facebook</span>
                </div>
            </div>
            <p>o</p>
            <form class="inputs-container" method="post">
                <input class="input" type="text" placeholder="Usuario">
                <input class="input" type="password" placeholder="Contraseña">
                <p>¿Ha olvidado su contraseña? <span class="span">Pulse aquí</span></p>
                <button class="btn">login</button>
                <p>¿No tiene cuenta? <span class="span">Inscribirse</span></p>
            </form>
          </div>
            <img class="image-container" src="/img/login.svg" alt="">
      </div>
</body>
</html>